.ant-card-cover {
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-card-body {
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userpage-layout {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userpage-card {
    cursor: default;
}
