{
  "root": true,
  "env": {
    "browser": true
  },
  "extends": [
    "react-app",
    "plugin:@typescript-eslint/recommended",
    "plugin:compat/recommended",
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:sonarjs/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "allowReserved": false,
    "ecmaFeatures": {
      "globalReturn": false,
      "impliedStrict": true
    }
  }
}